.footer {
  background: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  text-decoration: none;
  font-size: 26px;
  padding: 0px 20px;
  color: $light-grey;
}
.footer-links a:hover {
  color: $red;
}

#tripadvisor-logo {
  padding-bottom: 7px;
}
