#bar {
  h2,h4, p {
    color:white;
    text-align: center;
  }
  h2 {
    margin-bottom: 80px;
  }
  img{
   margin: auto;
  }
}

.bar-text {
  display: flex;
  flex-direction: column;
  margin: 80px 50px;
  text-align: center;
}

.bar-quote h4{
  font-family: 'Indie Flower', cursive !important;

}

.bar-description {
  margin-top: 50px;
}
