#bar {
  h1,p {
    color:white;
  }
  h1 {
    margin-bottom: 100px;
  }
  img{
   margin: auto;
  }
}

.bar-text {
  display: flex;
  flex-direction: column;
  margin: 80px 50px;
  text-align: center;
}

.bar-quote {

}

.bar-description {
  margin-top: 50px;
}
