#boutique {
  h1,p {
    color:white;
    text-align: center;
  }
  h1{
  margin-bottom: 100px;
  }

  .boutique-text {
    margin: 80px 50px;
    text-align: center;
   display: flex;
    flex-direction: column;
  }
}
