#boutique {
  h2, h3,p {
    color:white;
    text-align: center;
  }
  h2{
  margin-bottom: 80px;
  }

  .boutique-text {
    margin: 80px 50px;
    text-align: center;
   display: flex;
    flex-direction: column;
  }

  .boutique-quote h3 {
    font-family: 'Indie Flower', cursive !important;
    margin-bottom: 40px;
  }
}
