#contact {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  h2 {
    margin-bottom: 60px;
  }
}

.contact-form {

  input {
    margin: 5px 0;
  }
  #form-name {
  }
}
.contact-details {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
  p {
    margin:0;
  }
  h4 {
    color: $red;
  }
}

.contact-map {
  display: flex;
  justify-content: space-around;
  align-items: center;
  #map {
  height: 300px;
  width: 700px;
  margin: 30px;
  background-color: $light-grey;
  }
}

.btn-block {
  margin-top: 10px;
}
