#home {
  background-color: $black;
  color: white;

  p {
    margin-top: 1.5em;
  }
}

.home-pictures {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
   img {
    margin: 15px 0;
   }
}

.home-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
      margin: 0 15px;
     }
}

.home-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    margin: 0 15px;
   }
  }

.carousel-inner {
    height: calc(100vh - 130px);
}


