#home {
  background-color: $black;
  color: white;

  p {
    margin-top: 1.5em;
  }
}
.home-row-description {
  margin-top: 60px;
}

.home-row-about {
  margin-top: 60px;
}

.home-caroussel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
   img {
    margin: 15px 0;
   }
}

.home-description {
  padding-top: 30px;
}

.home-quote h2 {
  font-family: 'Indie Flower', cursive !important;
  margin: 50px 0px;
}

.homegallery {
  width: 200px;
  margin: 10px 0px;
}

.home-description {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .home-row-description {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    img {
      width:200px;
      margin-left: 50px;
    }
  }
  .home-row-about {
    margin-left: 20px;
    margin-right: 20px;
    img {
        width:250px;
        margin-left: 30px;
        margin-top: 70px;
      }
    }
  .home-quote h2 {
    font-size: 35px;
    margin-left: 20px
    }

  .homegallery {
    width: 150px;
  }
}
