#home {
  background-color: $black;
  color: white;

  p {
    margin-top: 1.5em;
  }
}
.home-row-description {
  margin-top: 20px;
}

.home-row-about {
  margin-top: 20px;
}

.home-pictures {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
   img {
    margin: 15px 0;
   }
}

.home-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
      margin: 0 15px;
     }
}

.home-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    margin: 0 15px;
   }
  }


.home-quote h2 {
  font-family: 'Indie Flower', cursive !important;
  margin: 50px 0px;
}

.homegallery {
  width: 200px;
  margin: 10px 0px;
}

