// Define variables for your color scheme
$black: #000000;
$red: #8c212b;
$light-grey: #dddcd8;
$blue: #0069ae;
$green: #2b4422;


// For example:
$red-example: #EE5F5B;
$blue-example: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green-example: #32B796;
$gray: #000000;
$light-gray-example: #F4F4F4;


