<div class="footer">
  <div class="footer-links">
    <% link_to do "https://www.facebook.com/Petit-Hotel-Hafa-123874924294528/" %>
      <i class="fa fa-facebook"></i>
    <% end %>
     <% link_to do "https://www.instagram.com/hotelhafasayulita/" %>
      <i class="fa fa-instagram"></i>
    <% end %>
    <%= link_to image_tag("images/tripadvisor-logotype.png", id: "tripadvisor-logo"), "https://www.tripadvisor.com.mx/Hotel_Review-g445056-d1389683-Reviews-Petit_Hotel_d_Hafa-Sayulita_Pacific_Coast.html", target: "_blank" %>
    <%= link_to "Press", "/press.html", target: "_blank" %>
  </div>
</div>
