<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/Petit-Hotel-Hafa-123874924294528/"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/hotelhafasayulita/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.tripadvisor.com.mx/Hotels-g445056-Sayulita_Pacific_Coast-Hotels.html/BackUrl">   <img src="images/tripadvisor-logotype.png" id="tripadvisor-logo"></i></a>
  </div>
</div>
