<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/Petit-Hotel-Hafa-123874924294528/" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/hotelhafasayulita/" target="_blank"><i class="fa fa-instagram"></i></a>
    <%= link_to image_tag("images/tripadvisor-logotype.png", id: "tripadvisor-logo"), "https://www.tripadvisor.com.mx/Hotel_Review-g445056-d1389683-Reviews-Petit_Hotel_d_Hafa-Sayulita_Pacific_Coast.html", target: "_blank" %>
    <%= link_to "Press", "/press.html", target: "_blank" %>
  </div>
</div>
