<div class="navbar-hafa">

  <!-- Logo -->
  <a href="/" class="navbar-brand">
    <img src="images/logo.jpg" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">
    <a href="/rooms.html" class="navbar-item navbar-link">Rooms</a>
    <a href="/bar.html" class="navbar-item navbar-link">Bar</a>
    <a href="/boutique.html" class="navbar-item navbar-link">Boutique</a>
    <a href="/contact.html" class="navbar-item navbar-link">Contact</a>
  </div>
</div>
  <!-- Dropdown appearing on mobile only -->
<div class="navbar-item hidden-md hidden-lg">
  <div class="tabs">
    <a class="tab" >
      <a href="/rooms.html">Rooms</a>
    </a>
    <a class="tab">
      <a href="/bar.html">Bar</a>
    </a>
    <a class="tab">
      <a href="/boutique.html">Boutique</a>
    </a>
    <a class="tab">
      <a href="/contact.html">Contact</a>
    </a>
  </div>
</div>


