---
title: Hotel Hafa - Contact
---

<div id="contact">
  <div class="contact-form">
   This template was built with
  </div>
  <div class="contact-details">
    Petit Hotel d’Hafa
    Calle Revolucion No. 55
    Sayulita, Nayarit, MEX
    Tel: 0052 329 291 3806
    Cel: 0052 322 779 3573
    hotelhafasayulita@yahoo.com
  </div>
  <div class="contact-map">
   This template was built with
  </div>
</div>
