---
title: Hotel Hafa Press
---
<div class="container">
  <div class="row full-width">
    <% i = 1 %>
    <% 7.times do %>
      <div class="col-xs-6 col-sm-3">
        <!-- insert <div class="card"> -->
        <%= link_to image_tag("press/press#{i}.png", class: "pressgallery"), "press/press_magazine_#{i}.pdf", target: "_blank" %>
        <% i += 1 %>
      </div>
    <% end %>
  </div>
</div>
