---
title: Hotel Hafa Rooms
---
<div class= rooms>
  <% i = 0 %>
  <% 8.times do %>
    <div class= room>
      <% i +=1 %>
      <h1><%= "Room ##{i}" %></h1>
      <div class= room-description>
        <%= image_tag "rooms/Room#{i}.jpg", width: 250 %>
        <p>description</p>
      </div>
    </div>
  <% end %>
</div>
