---
title: Hotel Hafa Rooms
---
<div class= row>

  <% data.rooms.hafarooms.each do |r| %>
    <div class= row>
      <div class=" col-xs-10 col-xs-offset-1 col-sm-3 ">
      <h1>Room#<%= r.number %></h1>
        <%= image_tag "rooms/#{r.image}", width: 400 %>
      </div>
      <div class= "col-xs-10 col-xs-offset-1 col-sm-6 room-description ">
      <p><%= r.description %></p>
      <p><%= r.price %></p>
      </div>
    </div>
  <% end %>
</div>
